*{
    margin:0;
    padding: 0;
    box-sizing border-box;
}

body{
    background: #07079f;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width:1310 px;
    margin:30px auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:20px;
}
.header h1{
    color:#fff;
    font-size: 48px;
    font-weight: 400;
}
